@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Be Vietnam Pro";
  scroll-behavior: smooth;
}

body {
  margin-left: auto;
  margin-right: auto;
  min-width: 0;
}
/* navbar starts here */
.logo {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 120px;
  width: 200px;
  font-weight: 700;
  gap: 200px;
  flex: 1;
}

/* ToDo:- rename logo containing div */
/* .logo-container {
} */

.logo-image {
  position: absolute;
  transform: translateX(-90%);
  padding-left: 25px;
  min-width: 0;
}
.logo-text {
  padding-top: 40px;
  padding-left: 30px;
  padding-bottom: 20px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 150px;
  padding-right: 150px;
  min-width: 0;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-size: 1.33rem;
  display: inline-block;
  padding-right: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  min-width: 0;
}
@media screen and (max-width: 950px) {
  .nav-link {
    display: none;
  }
}
.nav-link:hover {
  font-weight: 400;
}

/* hero section starts here */
.hero-section {
  min-width: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  margin-top: 2.5rem;
}

.hero-left {
  font-size: 2.5rem;
  color: #57636c;
  max-width: 40%;
  min-width: 0;
  margin-top: 2.5rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.hero-left-upper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.hero-left-down {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

@media screen and (max-width: 1280px) {
  .hero-section {
    flex-direction: column;
    justify-content: center;
  }
  .hero-left {
    max-width: 60%;
    text-align: center;
  }
}

.animated-text {
  color: rgb(74, 101, 234);
  font-weight: 500;
  display: inline-block;
}

.animated-text::after {
  content: "|";
  color: black;
  font-weight: 400;
}

@keyframes cursorAnimation {
  0% {
    width: 0%;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

.about-user {
  font-size: 1rem;
}

.btn {
  background-color: rgb(245, 66, 66);
  color: white;
  font-size: 1.25rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.3s ease-in;
  position: relative;
  z-index: 100;
  cursor: pointer;
}
.hire-me-btn {
  height: 50px;
  width: 150px;
  border: 3px solid rgb(245, 66, 66);
}

.btn::after {
  content: "";
  background-color: white;
  color: black;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0%;
  transition: 0.3s ease-in;
}

.btn:hover {
  color: black;
  &::after {
    width: 100%;
    color: black;
    z-index: -1;
  }
}

@media screen and (max-width: 1280px) {
  .hire-me-btn {
    transform: translateY(500px);
    transition: transform 0.5s ease-in;
    margin-left: auto;
    margin-right: auto;
  }
}
.hero-right {
  max-width: 40%;
  min-width: 0;
  background-color: white;
  perspective: 550px;
  margin-right: auto;
  margin-left: auto;
}

.frame {
  background-color: white;
  width: 100%;
  height: fit-content;
  min-width: 0;
  padding: 50px;
  position: relative;
  transition: all 10s ease-in;
  animation: zoomAnimation 5s ease-in 1s infinite;
}
@keyframes zoomAnimation {
  0% {
    transform: translateZ(0px);
    box-shadow: rgba(0, 0, 0, 0.9) 0px 5px 15px;
  }
  50% {
    transform: translateZ(40px);
    box-shadow: none;
  }
  100% {
    transform: translateZ(0px);
    box-shadow: rgba(0, 0, 0, 0.9) 0px 5px 15px;
  }
}
.user-img-parent {
  max-width: 300px;
  max-height: 300px;
  min-width: 0;
  overflow: hidden;
}
.user-img {
  min-width: 0;
  object-fit: cover;
  animation: filterAnimation 5s ease-in 1s infinite;
}
@keyframes filterAnimation {
  0% {
    filter: grayscale(0%);
  }
  50% {
    filter: grayscale(100%);
  }
  100% {
    filter: grayscale(0);
  }
}

.zigzag-icon {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 0;
  transform: translate(-8px, 10px);
  animation: linearAnimation 5s ease-in 1s infinite;
}
@keyframes linearAnimation {
  0% {
    transform: translate(25px, -25px);
  }
  50% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(25px, -25px);
  }
}
.circle-icon {
  position: absolute;
  bottom: -10px;
  left: 0;
  transform: translate(25px, -50px);
  animation: circleIconAnimation 5s ease-in 1s infinite;
  min-width: 0;
}

@keyframes circleIconAnimation {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(30px, -40px);
  }
  100% {
    transform: translate(0);
  }
}

.plus-icon {
  position: absolute;
  left: 50%;
  right: 0;
  top: 0;
  transform: translate(10px, -18px);
  animation: plusIconAnimation 5s ease-in 1s infinite;
  min-width: 0;
}

@keyframes plusIconAnimation {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

.cube-icon {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(-5px, -34px);
  animation: rotateAnimation 2.5s ease-in 1s infinite;
  min-width: 0;
}
@keyframes rotateAnimation {
  0% {
    transform: scaleX(0);
    transform: translateY(0);
  }
  50% {
    transform: scaleX(-1) translateY(-40px);
    /* transform: translateY(-20px); */
  }
  100% {
    transform: scaleX(0);
    transform: translate(0);
  }
}
.dots {
  position: absolute;
  bottom: -43px;
  right: -10px;
  min-width: 0;
  /* transform: translate(-60px, -34px); */
  animation: dotsAnimation 2.5s ease-in 1s infinite;
}

@keyframes dotsAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

/* projects section starts here */

.projects-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8rem;
  padding-bottom: 4rem;
  position: relative;
  background-color: #eceedf;
  width: 100%;
  min-width: 0;
}
.gray-text {
  color: #c9c9af;
  position: absolute;
  font-size: 6rem;
  top: 0;
  left: 40px;
  transform: translateY(-6.5rem);
  font-weight: 500;
}

.projects-heading {
  font-size: 6rem;
  color: rgb(245, 66, 66);
  font-weight: 500;
}
.slide {
  min-width: 0;
  max-width: 70%;
  max-height: 35.5rem;
  margin-top: 3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  /* box-shadow: rgba(0, 0, 0, 0.5) 2px 8px 15px; */
  /* overflow: hidden; */
  position: relative;
}

.slide-left {
  float: left;
  margin-left: 5rem;
}
.slide-right {
  float: right;
  margin-right: 12rem;
  font-weight: 700;
}

#slide-1::before {
  content: "01";
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12rem;
  transform: translate(3rem, -1rem);
  color: white;
  font-weight: 800;
  display: none;
}
#slide-1:hover {
  &::before {
    z-index: 50;
    display: block;
  }
}

.slide::after {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  background: linear-gradient(
    45deg,
    rgb(52, 61, 104),
    rgba(52, 61, 104, 0.745),
    rgba(52, 61, 104, 0.486)
  );
  z-index: 20;
}

.project-content-container {
  position: absolute;
  background-color: #1f1f1f9a;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-content {
  position: absolute;
  border: 1px solid red;
  top: 15%;
  left: 10%;
  display: flex;
  flex-direction: column;
  color: aliceblue;
  min-width: 0;
  overflow: hidden;
  min-width: 0;
  z-index: 100;
  transition: all 0.3s ease-in-out;
  padding: 2em;
}

.slide:hover {
  &::after {
    width: 100%;
  }
  .project-content {
    scale: 1.1;
  }
}

.skill-icon-container {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  max-width: 60%;
  margin-bottom: 10px;
  min-width: 0;
}

.skill-icon {
  height: 40px;
  width: 40px;
  min-width: 0;
}
.slide-heading {
  font-size: 3rem;
  margin-bottom: 15px;
  min-width: 0;
}

.slide-description {
  font-style: italic;
  max-width: 70%;
  margin-bottom: 15px;
  min-width: 0;
}

.read-more-btn {
  height: 50px;
  width: 180px;
  border: 0;
  min-width: 0;
}
.project-link {
  max-height: 50px;
  max-width: 50px;
  min-width: 0;
  text-decoration: none;
  position: relative;
  display: inline-block;
  background-color: transparent;
  min-width: 0;
}
.link-icon,
.git-icon {
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-size: 2rem;
  min-width: 0;
}

.link-icon:hover,
.git-icon:hover {
  color: rgb(245, 66, 66);
}


